{% extends "main.twig" %}

{% block stylesheetBase %}
    {{ parent() }}
    <link href="/css/account.css" rel="stylesheet" type="text/css" />
    <link href="/css/loans.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="/js/PlugIn/loan.js"></script>
    <script src="/js/loans.js"></script>
{% endblock %}

{% block h1 %}
    Pecqueur
    <small>Prêts</small>
{% endblock %}

{% block breadcrumb %}
    <li><a href="/"><i class="fa fa-dashboard"></i> Tableau de bord</a></li>
    <li><a href="/account/1234"><i class="ion ion-filing"></i> Vue générale</a></li>
    <li><a href="/account/1234/loans"><i class="fa fa-calculator"></i> Prêts</a></li>
{% endblock %}

{% block menu %}
    {% set vars = {'page': 'loans', 'section': 'account'} %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-danger">

            </div><!-- /.box -->

        </div>
    </div>
{% endblock %}
