#newFormAccount {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    width:100%;
    background:white;
    padding:15px;
}

#newFormAccount label,
.form-control {
    color:#333333;
}

.add-account {
    cursor:pointer;
}