{% extends "main.twig" %}

{% block contenu %} 
	<h2>Mot de passe oublié</h2>
	<br>
	<p>Suite à votre demande, votre mot de passe a été réinitialisé. </p>
	<br>
	<p>Login : <b>{{ login }}</b></p>
	<p>Nouveau Mot de passe : <b>{{ pwd }}</b></p>
	<br>
	<p>Vous pourrez modifier par la suite votre mot de passe dans la partie "Mon Compte"</p>
	<br>

{% endblock %}